<nav class="navbar is-spaced is-fixed-top is-size-8" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="https://insileco.io/">
            <img src="/img/logo.svg" alt="inSileco logo" />
            <span class="navbar-title">inSileco</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://insileco.io/">Home</a>
            <a class="navbar-item" href="https://insileco.io/services/">Services</a>
            <a class="navbar-item" href="https://insileco.io/about/">About</a>
            <a class="navbar-item" href="https://insileco.io/careers/">Careers</a>
            <a class="navbar-item" href="https://insileco.io/portfolio/">Portfolio</a>
            <a class="navbar-item" href="https://insileco.io/publications/">Publications</a>
            <a class="navbar-item" href="https://blog.insileco.io/">Blog</a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="https://www.linkedin.com/company/insileco/" target="_blank" rel="noopener" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="navbar-item" href="https://github.com/inSileco" target="_blank" rel="noopener" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <div class="navbar-item">
                <a class="button is-light navbar-login" href="https://insileco.io/login/">Login</a>
            </div>
            <div class="navbar-item">
                <a class="button navbar-contact" href="https://insileco.io/contact/">Contact us</a>
            </div>
            <a class="navbar-item has-text-weight-bold" href="https://blog.insileco.io/fr/">FR</a>
        </div>
    </div>
</nav>
